.header{
    background: color #121212;;
    width: 50vw;
    height: 20px;
    padding: 15px;
}
h2{
    color: white;
}
.logo{
    width: 20vw;
    padding: 15px;
}
body{
    background-color: #121212;
}
